@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "Felidae";
  src: url("/assets/fonts/felidae/Felidae-Regular.eot");
  src: url("/assets/fonts/felidae/Felidae-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/assets/fonts/felidae/Felidae-Regular.woff2") format("woff2"),
    url("/assets/fonts/felidae/Felidae-Regular.woff") format("woff"),
    url("/assets/fonts/Felidae-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply font-manrope text-brand-primary;
  }

  h2 {
    @apply font-felidae text-[2rem] sm:text-[3.25rem] lg:text-7xl 3xl:text-[6rem] tracking-wider leading-8 sm:leading-[3.125rem] lg:leading-[68px] 3xl:leading-[5.6875rem] tracking-wider;
  }

  h3 {
    @apply font-medium text-[1.375rem] 3xl:text-3xl;
  }

  p {
    @apply text-sm xs:text-lg sm:text-base lg:text-lg 3xl:text-22 leading-5 sm:leading-6 3xl:leading-8;
  }

  section {
    @apply py-[60px] sm:py-20 lg:py-[120px] 3xl:py-40;
  }

  .base-input {
    @apply w-full h-[60px] 3xl:h-20 3xl:text-22 border border-brand-gray rounded-xl 3xl:rounded-2xl outline-none focus:outline focus:outline-brand-primary focus:border-none focus:text-brand-primary/70 px-5 3xl:px-30px;
  }
}

.section-minus {
  @apply -mt-[60px] sm:-mt-20 lg:-mt-[120px] 3xl:-mt-40;
}

.no-scroll::-webkit-scrollbar {
  @apply w-0 h-0;
}

/* Width of the scrollbar */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-brand-gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-400 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the handle on hover */
}

/* Optional: Style for the scrollbar corner */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Background color of the corner */
}

input[type="checkbox"]:checked + label div svg {
  @apply block;
}

input[type="checkbox"]:checked + label div {
  @apply bg-brand-orange;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.95); /* Move down further */
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.85) rotate(-10deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.8s ease-out forwards;
}

.fade-in-left {
  animation: fadeInLeft 1s ease-out forwards;
}

.zoom-in {
  animation: zoomIn 0.9s ease-out forwards;
}
