@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@font-face {
  font-family: "Felidae";
  src: url("./public/fonts/felidae/Felidae-Regular.eot");
  src: url("./public/fonts/felidae/Felidae-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./public/fonts/felidae/Felidae-Regular.woff2") format("woff2"),
    url("./public/fonts/felidae/Felidae-Regular.woff") format("woff"),
    url("./public/fonts/felidae/Felidae-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-manrope text-brand-primary;
  }
}
